<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Fahim Amiri's Profile</title>
</head>
<body>
    <header class="header">
        <nav class="navigation">
            <a href="/" class="logo">Amiri's About</a>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="about" class="active">About</a></li>
                <li><a href="contact">Contacts</a></li>
                <li><a href="team">Teams</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2> Under Construction</h2>
     <!-- Contact Me Section -->
     <section class="grid-item grid-7 contact-me">
        <p>If you have a project, business,or company in need of a professional web application designers & Developer contact me.</p>
        <button><a href="contact">Contact Me</a></button>
    </section>

  </body>
  </html>