<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Fahim Amiri's Profile</title>
</head>
<body>
    <header class="header">
        <nav class="navigation">
            <a href="/" class="logo">Amiri's Profile</a>
            <ul class="menu">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contacts</a></li>
                <li><a href="team">Teams</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main-content">
        <section class="info">
            <div class="text-grid">
                <div class="text-container">
                    <p>Hello,</p>
                    <p>I'm Fahim Amiri</p>
                    <p>Software Engineer & Web Designer/Developer</p>
                </div>
                <div class="buttons-container">
                   
                    <button class="hire-btn">
                    <a href="/contact" class="hire-btn">Hire Me</a></button></a>
                    <button class="down-cv"><a href="/pdf/Fahim Amiri SC 06.19.24.pdf" class="down-cv">Download Resume</a>
                    </button>
                    <script>
                        function downloadResume() {
                            window.location.href = '/pdf/resume.pdf';
                        }
                        </script>

                </div>
            </div>
            <div class="image-grid">
                <div class="profile-img">
                    <img src="/images/profile.jpeg" class="model" alt="model">
                </div>
            </div>
        </section>
        



        <section class="about">
            <div class="about-container">
                <img src="/images/code.jpeg" class="bio-img" alt="bio-image">
                <div class="about-text">
                    <p class="background">Background</p>
                    <p class="title">Software Engineer & Designer</p>
                    <p>
                        I am a software engineering student with a strong background in business, software development, 
                        web development, and graphic design. I have over 5 years of project management, administrative, 
                        and translation experience from working on projects with the US Army and US Embassy in Afghanistan. 
                        Fluent in Farsi, English, and Urdu, I have excellent cross-cultural communication and interpersonal skills. 
                        Whether working in a team or individually, I am driven to achieve product success and process efficiency.
                    </p>
                    <p>
                        I am actively seeking project opportunities and full-time employment that align with my experience as a web designer, 
                        allowing me to utilize my skill set and knowledge effectively. With a background in business, software development, 
                        web development, and graphic design.
                    </p>
                    <div class="button-container">
                        <button class="action-btn">Read More</button>
                        <button class="down-cv"><a href="/pdf/Fahim Amiri SC 06.19.24.pdf" class="down-cv">Download Resume</a>
                        </button>
                        <script>
                            function downloadResume() {
                                window.location.href = '/pdf/resume.pdf';
                            }
                            </script>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section class="services">
            <div class="service-text">
                <p class="service-header">Service & Offer</p>
                <p>
                    I offer professional website and software development services tailored to meet your business needs.
                    If you are seeking to enhance your online presence, I can create a user-friendly and responsive website 
                    that provides a valuable experience for your customers. I also provide a one-year contract, allowing you 
                    to make content changes or request modifications to ensure your utmost satisfaction. With a focus on quality 
                    and attention to detail, I am dedicated to delivering exceptional results. Contact me today to discuss how 
                    I can contribute to the success of your business through effective website and software development.
                </p>
            </div>
        </section>
        

        <section class="boxes">
            <div class="box-container">
                <div class="box-1">
                    <span class="box-number">1</span>
                    <p class="heading">Web Developing</p>
                    <p class="details">
                        I offer professional web development services to enhance your website or make content changes.
                        Whether you're expanding your business or need specific modifications, I provide comprehensive solutions 
                        for content updates, design enhancements, and functionality improvements. Let's collaborate to create an 
                        updated web presence that aligns with your goals. Contact me to discuss your requirements and get started.
                    </p>
                    <button class="box-btn">Read More</button>
                </div>
                
                <div class="box-2">
                    <span class="box-number">2</span>
                    <p class="heading">Photography</p>
                    <p class="details">
                        I offer professional product photography services to enhance your webpage with high-quality images of your own products.
                        With a keen eye for detail and a focus on visual aesthetics, I capture the essence and unique features of your products.
                        These photographs will elevate your website's appeal and make a lasting impression on your customers.
                        Contact me to discuss your product photography needs and enhance your online presence with captivating visuals.
                    </p>
                    <button class="box-btn">Read More</button>
                </div>
                
                <div class="box-3">
                    <span class="box-number">3</span>
                    <p class="heading">Website Maintenance</p>
                    <p class="details">
                        I also provide professional website maintenance services to keep your website up-to-date and functioning smoothly.
                        From content updates to technical adjustments, our experienced team ensures your online presence remains in optimal condition.
                        Contact us to discuss your maintenance needs and let us handle the ongoing upkeep of your website.
                    </p>
                    <button class="box-btn">Read More</button>
                </div>
            </div>
        </section>
        

        <section class="contact-me">
            <p>If you have a project, business, or company in need of a professional web developer, contact me.</p>
            <button class="contact-btn"><a href="contact">Contact Me</a></button>
        </section>
        
    </main>
    
    <footer class="footer">
        <p>Fahim Amiri as Web Developer & Designer</p>
        <p>
            I possess the expertise and skills required to successfully execute web development projects or fulfill your hiring needs.
            Let's discuss how I can contribute to your success in web development.
        </p>
    </footer>
</body>
</html>
