/* General Styles */
body {
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align everything horizontally */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header, footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Header Styles */
.header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.navigation .logo {
    font-family: RoadTest, sans-serif;
    color: #5d5959;
    font-size: 22px;
}

.navigation .menu {
    display: flex;
}

.navigation .menu li a {
    margin: 0 15px;
    font-family: Myriad Pro, sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.navigation .menu li a.active {
    font-weight: bold;
    color: rgb(242, 137, 8);
}

.info {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Gap between the two grids */
    background-color: #fff;
    padding: 2rem;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 500px; 
}

.text-grid {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text and buttons vertically */
}

.text-container {
    text-align: center; /* Center text horizontally */
}

.buttons-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Gap between buttons */
    height: 50px;
   

}

/* Styles for the buttons in section.info */
.hire-btn, .down-cv {
    width: 150px; /* Adjust width as needed */
    height: 50px; /* Set height to 50px */
    background-color: orange; /* Orange background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    font-family: Calibri, sans-serif; /* Font family */
    font-weight: bold; /* Font weight */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    outline: none; /* Remove default outline */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Hover effect for buttons */
.hire-btn:hover, .down-cv:hover {
    background-color: #ff8c00; /* Darker orange on hover */
}


.profile-img {
    text-align: center; /* Center profile image horizontally */
}

.model {
    width: 400px; /* Adjust size as needed */
    height: 400px; /* Adjust size as needed */
    border-radius: 50%; /* Make the image circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}
/* About section styles */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 0;
}

.about-container {
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about-container img {
    height: 250px;
    width: 90%;
    margin-top: 20px;
    border-radius: 10px;
}


.about-text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.about-text .background,
.about-text .title {
    background-color: #ffcc80; /* Light matching orange background color */
    padding: 10px;
    border-radius: 10px;
    color: #333;
    font-family: Myriad Pro, sans-serif;
    font-weight: bold;
}

.about-text .background {
    font-size: 23px;
}

.about-text .title {
    font-size: 16px;
    margin-top: 10px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4) {
    color: #737d7d;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 10px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between the buttons */
    margin-top: 20px; /* Adjust as needed */
}

.about-text .action-btn {
    width: 150px;
    height: 50px;
    background-color: orange;
    color: white;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.about-text .action-btn:hover {
    background-color: #ff8c00;
}



/* Services section styles */
/* Services section styles */
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 0;
}

.service-text {
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    height: 300px;
}

.service-text .service-header {
    font-size: 23px;
    font-family: Myriad Pro, sans-serif;
    font-weight: bold;
    background-color: #ffcc80; /* Light matching orange background color */
    padding: 10px;
    border-radius: 10px;
    color: #333;
    margin-top: 20px; /* Add margin from the top */
  
}

.service-text p:nth-child(2) {
    color: #737d7d;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 20px 0 0 0; /* Adjust margin for spacing */
    height: 300px;
    margin-top: 50px; /* Add margin from the top */
}


/* Box container styles */
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 0;
}

.box-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 20px;
}

.box-1, .box-2, .box-3 {
    flex: 1;
    background-color: #333; /* Black background color */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.box-number {
    display: inline-block;
    background-color: #ff8c00; /* Orange background color */
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    color: #f1f1f1; /* Matching orange text color */
}

.details {
    font-size: 16px;
    color: #f3f3f3; /* Matching orange text color */
    margin: 10px 0;
}

.box-btn {
    background-color: #ff8c00; /* Orange button color */
    border: none;
    color: #333; /* Black text color */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.box-btn:hover {
    background-color: #ffb74d;
}



/* Contact Me section styles */
.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.contact-me p {
    font-style: italic;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.contact-btn {
    background-color: rgb(242, 137, 8);; /* Orange button color */
    border: none;
    color: #fff;
    padding: 10px 20px; /* Smaller button */
    font-size: 16px;
    border-radius: 25px; /* Full border radius for rounded button */
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #ffb74d;
}

/* Footer Section Styles */
footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 2rem;
}
